[build]
  command = "python -m pip install --upgrade pip setuptools wheel && pip install -r requirements.txt"
  functions = "functions"

[build.environment]
  PYTHON_VERSION = "3.10"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app"
  status = 200
